<!------------------------------------------- START OF FILE  -------------------------------------------------->
@{
    ViewData["Title"] = "Submit Claims";
}

<h2>Submit Your Monthly Claim</h2>
<form>
    <label for="claimDetails">Claim Details</label>
    <textarea id="claimDetails" name="claimDetails"></textarea><br>
    <button type="submit">Submit Claim</button>
</form>
<!------------------------------------------- END OF FILE  -------------------------------------------------->