<!------------------------------------------- START OF FILE  -------------------------------------------------->
@{
    ViewData["Title"] = "Upload Supporting Documents";
}

<h2>Upload Supporting Documents for Your Claim</h2>
<form enctype="multipart/form-data">
    <input type="file" name="document" /><br>
    <button type="submit">Upload Document</button>
</form>

<!------------------------------------------- END OF FILE  -------------------------------------------------->