<!------------------------------------------- START OF FILE  -------------------------------------------------->
@{
    ViewData["Title"] = "Upload Supporting Documents";
}

<div class="container">
    <h2 class="mb-4">Upload Supporting Documents for Your Claim</h2>
    <form enctype="multipart/form-data">
        <div class="form-group">
            <label for="document">Select Document</label>
            <input type="file" id="document" name="document" class="form-control-file" />
        </div>
        <button type="submit" class="btn btn-primary">Upload Document</button>
    </form>
</div>

<!------------------------------------------- END OF FILE  -------------------------------------------------->